flow-misa_customer&product-0X7VuB07ptOpNwBW.json
{"createdAt":"2024-10-25T04:40:39.897Z","updatedAt":"2024-10-25T10:06:39.000Z","id":"0X7VuB07ptOpNwBW","name":"Flow MISA_Customer&Product","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff795009-fc12-4a9a-a298-523b12c6330a","leftValue":"={{ $('GET_DATA_MISA').item.json.data }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"85518d66-c79a-46f9-a60b-4a3b634b010a","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,840]},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"af9c978f-1bf0-44bd-862a-aadc15171b68","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1580,680]},{"parameters":{"method":"POST","url":"https://crmconnect.misa.vn/api/v2/Account","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"client_secret\": \"{{ $json.client_secret }}\"\n}","options":{}},"id":"57e69272-167f-41c7-a6b5-eac7c6fcba72","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,580],"executeOnce":false,"retryOnFail":false,"alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"cd81f97f-0e9b-44ba-a74e-f5c8268257cf","name":"client_id","value":"PublicAPI","type":"string"},{"id":"91563932-06fa-482a-aa93-45cb4b76619c","name":"client_secret","value":"MiMd3pFIc9oN2A0tygz9ewTtbBgCui0dmXOfAWmtDKs=","type":"string"}]},"options":{}},"id":"ac304ea8-119d-46bf-927f-25cd03c34f2b","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,580],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"61009605-2855-40e9-8697-c0162b8b69a8","name":"page","value":0,"type":"number"}]},"options":{}},"id":"426b77d8-44ff-4940-aef0-a5abb7be9921","name":"page = 0","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,780]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1C0IDNEF_X4e8-5gxNuxZlOI2G3JQbD2WpUdw1rjDJug","mode":"list","cachedResultName":"Đăng ý bản tin _ Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C0IDNEF_X4e8-5gxNuxZlOI2G3JQbD2WpUdw1rjDJug/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1650274142,"mode":"list","cachedResultName":"TEST","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C0IDNEF_X4e8-5gxNuxZlOI2G3JQbD2WpUdw1rjDJug/edit#gid=1650274142"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"id":"f70d705b-55a5-4a1a-a41b-700fb16da42c","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1780,680],"credentials":{"googleSheetsOAuth2Api":{"id":"mZCyD6ZolgZpOQSl","name":"Google Sheets_NgocTan.Digi"}}},{"parameters":{"assignments":{"assignments":[{"id":"b93c3adc-31ab-4211-ac34-fd0222ae87dc","name":"page","value":"={{ $json.page }}","type":"number"}]},"options":{}},"id":"8565fe7b-6cf6-4dc5-8155-9110b71692d9","name":"jsPage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,780],"alwaysOutputData":false,"executeOnce":false},{"parameters":{"url":"https://crmconnect.misa.vn/api/v2/Customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"={{ $json.page }}"},{"name":"pageSize","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Clientid","value":"PublicAPI"},{"name":"Authorization","value":"=Bearer {{ $('Execute Workflow').item.json.secrect_key }}"}]},"options":{}},"id":"27d9b122-30c5-464d-b1e7-24b381f2dd07","name":"GET_DATA_MISA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,780]},{"parameters":{"assignments":{"assignments":[{"id":"28100cbd-5371-4409-a3fe-40dd02770889","name":"page","value":"={{ $('jsPage').item.json.page +1 }}","type":"number"}]},"options":{}},"id":"5a2c6c41-d81a-4d5b-9883-b8ed3391297d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,860]},{"parameters":{"assignments":{"assignments":[]},"options":{}},"id":"df93de9c-5e2e-4bcb-8c9e-7bfcf098f4b3","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,580]},{"parameters":{"workflowId":{"__rl":true,"value":"wtO6OdPRJVhEeS0D","mode":"list","cachedResultName":"API MISA"},"options":{}},"id":"a490b781-0ddb-4729-b519-e1e29ae12cdc","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[540,780]},{"parameters":{"rule":{"interval":[{}]}},"id":"8fac13e1-ad96-40e8-ada9-a1c6946c3c15","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[300,800]}],"connections":{"Edit Fields1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"page = 0":{"main":[[{"node":"jsPage","type":"main","index":0}]]},"GET_DATA_MISA":{"main":[[{"node":"If","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"jsPage","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"jsPage":{"main":[[{"node":"GET_DATA_MISA","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"page = 0","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c305517-0157-439a-b662-24ec75698699","triggerCount":1,"tags":[]}