testing-01-pNH9iJ6xcNYRiy1m.json
{"createdAt":"2024-11-11T15:28:13.999Z","updatedAt":"2024-11-12T03:57:18.882Z","id":"pNH9iJ6xcNYRiy1m","name":"Testing 01","active":true,"nodes":[{"parameters":{"options":{}},"id":"dc2f87c7-e4e1-4660-8a64-950e36dd2929","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[280,220],"webhookId":"83847c52-534e-42b5-a924-2a7b0057edee"},{"parameters":{"options":{}},"id":"0f6a3d37-7407-4540-a401-4f9327adeaeb","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[420,460],"credentials":{"groqApi":{"id":"NHShawhObCAficKh","name":"Groq account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ngoctan.digi@gmail.com","mode":"list","cachedResultName":"ngoctan.digi@gmail.com"},"start":"={{$fromAI(\"startTime\")}}","end":"={{$fromAI(\"endTime\")}}","additionalFields":{"description":"={{$fromAI(\"Description\")}}","location":"={{$fromAI(\"Location\")}}","summary":"={{$fromAI(\"event\")}}","visibility":"public"}},"id":"b395e2bf-b906-4f86-ac92-bf8b360669b1","name":"Google Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[720,440],"credentials":{"googleCalendarOAuth2Api":{"id":"Albtxv3ctMmg82BP","name":"Google Calendar account"}}},{"parameters":{"options":{"systemMessage":"=You are a helpful assistant\nHere is the current date {{$now}}"}},"id":"b600d524-6fa9-4036-82ac-574948abcd2f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,220]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"id":"c8574777-0ea7-4645-aa2f-78e2612a88b5","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[560,440],"credentials":{"postgres":{"id":"vOcM4ILOPSdNe3PX","name":"Postgres localhost"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Ho_Chi_Minh","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24b15ed7-4e6f-4140-a674-df661fa112cc","triggerCount":2,"tags":[]}